@model SuperAgenda.Models.Contacts
@{
}

<div class="container">
	<form method="post" action="/Home/Eliminar">

		<input type="hidden" name="Id" id="Id" value="@Model.Id" />

		<h1> Estas seguro de que quieres eliminar el register? </h1>

		<button type="submit" class="btn btn-danger" > Eliminar  </button>


	</form>
</div>